---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 18px/1.4 $openSans;
  color: $black;
  background: #f5f8fb;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
  @include mobile {
    padding: 0 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $openSans;
  color: $black;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  opacity: .9;
  font-size: 34px;
  a {
    color: inherit;
    &:hover, &:active {
      // color: $white;
      // opacity: 1;
    }
  }
  @include mobile {
    font-size: 26px;
  }
}

.masthead h1 {
  opacity: 1;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  margin: 30px 0;
  color: $black;
  opacity: .8;
  max-width: 600px;
  line-height: 1.58;
}

a {
  color: $red;
  text-decoration: none;
	cursor: pointer;
  @include desktop {
    &:hover, &:active {
      color: $darkred;
      opacity: 1;
    }
  }
}

p a {
  color: $red;
  text-decoration: none;
  cursor: pointer;
  @include desktop {
    &:hover, &:active {
      color: $darkred;
      opacity: 1;
      text-decoration: underline;
    }
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
  max-width: 600px;
}

ul {
  list-style-type: disc;
}

ul li, ol li {
  opacity: .8;
  line-height: 1.58;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $white;
  opacity: .5;
  font-size: 12px;
  margin: 40px 0 200px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
}

.masthead {
  padding: 20px 0;
  // border-bottom: 1px solid $darkerBlue;
  display: flex;
  align-items: center;
  @include mobile {
    text-align: center;
    flex-direction: column;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-info h1 {
  margin: 0;
}

.site-name {
  margin: 0;
  cursor: pointer;
  line-height: 48px;
  // color: $red;
  // text-shadow: 2px 2px 0px $blue;
  color: $blue;
  text-shadow: 2px 2px 0px $red;
  font-family: $nunitoSans;
  letter-spacing: 1px;
  font-weight: 900;
  @include mobile {

  }
}

.site-name-link {
  display: flex;
  flex-direction: column;
  @include mobile {
    flex-direction: row;
  }
}

.site-name.mod-first {
  font-size: 32px;
  font-weight: 700;
  @include mobile {
    font-size: 26px;
    font-weight: 900;
    margin-right: 10px;
    margin-left: auto;
  }
}

.site-name.mod-second {
  font-size: 84px;
  text-shadow: 3px 3px 0px $red;
  margin-left: -5px;
  @include mobile {
    font-size: 26px;
    font-weight: 900;
    text-shadow: 2px 2px 0px $red;
    margin-right: auto;
    margin-left: unset;
  }
}

.site-description {
  color: $blue;
  font-size: 14px;
  margin: 10px 0;
  opacity: .6;
  font-weight: 400;
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $nunitoSans;
  font-size: 16px;
  opacity: .7;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $red;
    text-align: right;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    @include mobile {
      margin: 0 10px;
      color: $red;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  // border-bottom: 1px solid $darkerBlue;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.shadow-link {
  transition: all .25s ease-in-out;
  display: block;
  border-radius: 2px;
  padding: 30px;
  @include desktop {
    &:hover {
      box-shadow: 0 0 24px -2px rgba(0,0,0,.2);
      background: $white;
    }
  }
}

.shadow-link.mod-front-page {
  width: 90%;
  margin-left: -30px;
  @include mobile {
    margin-left: unset;
    width: 100%;
  }
}

.shadow-link.mod-portfolio {
  display: flex;
  width: 100%;
  @include mobile {
    padding: 10px 0;
  }
}

.shadow-link figure.image {
  width: 100%;
  margin: 0 auto;
}

a.shadow-link {
  color: $black;
}

@include desktop {
  a.shadow-link:hover > .read-more {
    background: #E7695C;
    color: #2b4a65;
  }
}

.shadow-link h1 {
  margin-top: 0;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
}

.portfolio-content-small h2 {
  @include mobile {
    margin-top: 0;
  }
}

.portfolio-content-small p {
  @include mobile {
    margin-top: 0;
  }
}

.portfolio-callout {
  width: 200px;
  height: 200px;
  @include mobile {
    width: 100px;
    height: 100px;
  }
}

  .comments {
    margin-top: 10px;
  }

.button-link {
  text-transform: uppercase;
  font-size: 16px;
  // color: #E7695C;
  font-weight: 700;
  padding: 5px 10px;
  // background: #2b4a65;
  background: $red;
  color: $blue;
  margin-top: 10px;
  display: inline-block;
  transition: all .25s ease-in-out;
  @include desktop {
    &:hover {
      background: $blue;
      color: $red;
    }
  }
}

.prevnext {
  display: flex;
  justify-content: space-between;
}

img {
  opacity: 1;
}

img + em { 
  font-size: 12px;
  color: $white;
  opacity: .7;
  margin-top: -10px;
  display: block;
}

figure.image {
  width: 120%;
  margin-left: -10%;
  margin-bottom: 40px;
  margin-top: 40px;
  @include mobile {
    margin-left: unset;
    width: 100%;
  }
}

.image figcaption {
    padding: 10px 10px 15px 15px;
    opacity: .8;
    font-size: 14px;
    text-align: center;
    color: #777777;
    width: 60%;
    margin: 0 auto;
    @include mobile {
      width: 90%;
    }
}

.footnotes {
  font-size: 14px;
  opacity: .7;
}

.footnote {
  font-size: 12px;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 10px;
  background-color: #5988b1;
  color: #325778;
  transition: background-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  @include desktop {
    &:hover {
      background-color: #1F3D57;
    }
  }
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  text-align: center;
}

footer a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  opacity: .8;
  padding: 0 20px;
}

html.sr .load-hidden {
    visibility: hidden;
}

.portfolio-chunk {
  display: flex;
}

.portfolio-chunk-words {
  
}

.portfolio-chunk-image {
  
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
