---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: $blue;
  font: 18px/1.4 $openSans;
  color: $white;
}

.container {
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
  @include mobile {
    padding: 0 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $openSans;
  color: $white;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  opacity: .6;
  font-size: 34px;
  a {
    color: inherit;
    &:hover, &:active {
      color: $white;
      opacity: 1;
    }
  }
}

.masthead h1 {
  opacity: 1;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  margin: 15px 0;
  color: $white;
  opacity: .8;
  max-width: 600px;
}

a {
  color: $red;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $darkred;
    opacity: 1;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ul li {
  opacity: .8;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 120%;
  margin: 20px 0;
  margin-left: -10%;
  @include mobile {
    max-width: 100%;
    margin-left: auto;
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $white;
  opacity: .5;
  font-size: 12px;
  margin: 40px 0 200px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  // border-bottom: 1px solid $darkerBlue;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-info h1 {
  margin: 0;
}

.site-name {
  margin: 0;
  color: $red;
  cursor: pointer;
  font-family: $nunitoSans;
  letter-spacing: 1px;
}

.site-name.mod-first {
  font-weight: 700;
  font-size: 28px;
  @include mobile {
    font-size: 16px;
  }
}

.site-name.mod-second {
  font-weight: 900;
  font-size: 120px;
  line-height: 100px;
  margin-left: -8px;
  @include mobile {
    font-size: 60px;
    line-height: 60px;
  }
}

.site-description {
  color: $red;
  font-size: 16px;
  opacity: .8;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: left;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $nunitoSans;
  font-size: 16px;
  opacity: .7;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $red;
    text-align: right;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;

    @include mobile {
      margin: 0 10px;
      color: $red;
      
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  // border-bottom: 1px solid $darkerBlue;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 16px;
    color: #E7695C;
    font-weight: 700;
    padding: 5px 10px;
    background: #2b4a65;
    margin-top: 10px;
    display: inline-block;
    opacity: .6;
    transition: all 0.2s ease-in-out;
    &:hover, &:active {
      opacity: 1;
    }
  }
}

img + em { 
  font-size: 12px;
  color: $white;
  opacity: .7;
  margin-top: -10px;
  display: block;
}

.footnotes {
  font-size: 14px;
  opacity: .7;
}

.footnote {
  font-size: 12px;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 10px;
  background-color: #5988b1;
  color: #325778;
  transition: background-color;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  &:hover {
    background-color: #1F3D57;
  }
}

.wrapper-footer {
  margin-top: 50px;
  background-color: #1F3D57;
}

footer {
  padding: 20px 0;
  text-align: center;
}

footer a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  opacity: .8;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
