<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" type="text/css" href="/js/bigfoot-default.css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery.fancybox.min.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900|Open+Sans:400,700" rel="stylesheet">
    <script src="/js/scrollreveal.js" type="application/javascript"></script>

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">

          <div class="site-info">
            <h1><a href="{{ site.baseurl }}/"><div class="site-name mod-first">{{ site.name | upcase | remove: "HOOKER" }}</div><div class="site-name mod-second">{{ site.name | upcase | remove: "JIMMY" }}</div></a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container front-page-content">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
            <a href="{{ site.baseurl }}">Writing</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
        </footer>
      </div>
    </div>
    <script src="/js/jquery-2.2.4.min.js" type="application/javascript"></script>
    <script src="/js/bigfoot.min.js" type="application/javascript"></script>
    <script src="/js/jquery.fancybox.min.js" type="application/javascript"></script>
    
    <script type="text/javascript">
      $.bigfoot();

      var slideUp = {
          distance: '10%',
          origin: 'bottom',
          opacity: 0,
          delay: 150
      };

      ScrollReveal().reveal('.animate-on-scroll', slideUp);

      $( '[data-fancybox]' ).fancybox({
        caption : function( instance, item ) {
          return $(this).closest('figure').find('figcaption').html();
        }
      });
    </script>

    {% include analytics.html %}
  </body>
</html>
